@font-face {
    font-family: "GeistPixel-Regular";
    src: url("./fonts/Geist_Pixel/GeistPixel-Regular-VariableFont_ELSH.ttf");
}


body {
    background-color: aqua;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    font-family: "GeistPixel-Regular";
}

.thumb-container {
    display: flex;
    padding: 0;
}

.thumbnail-buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
    padding: 0;
    margin: 10px;
    cursor: pointer;
    height: 350px;
    width: 260px;

    /* background-color: #afafb8;

    background-image: url("./arena.png");
    object-fit: fill;
    object-position: center; */
}

.pokemon-name-con {
    display: flex;
    gap: 50px;
    padding-left: 10px;
    background-color: #27272891;
    color: white;
    text-shadow: 0 0 5px #e4e4d8;
}



.poke-img {
    position: absolute;
    top: 20px;
    left: 0px;


    --scale: 1;
    --transition-duration: 250ms;
    scale: var(--scale);
    transition: scale var(--transition-duration) ease-in-out;

}

.poke-img:hover {
    --scale: 1.1;
    filter: drop-shadow(10px 10px 4px #272728);
}


.type-con {
    position: absolute;
    top: 300px;
    left: 0;
    background-color: #27272891;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
}

.single-type,
.second-type {
    font-family: "GeistPixel-Regular";
    font-size: 17px;
    color: rgb(54, 53, 53);
    text-shadow: 0 0 5px #fbff1a;
    border-radius: 30px;
    padding: 5px;
}



.grass.poison {
    /* background-image: radial-gradient(circle 150px, #A33EA1, #7AC74C); */
    /* background-image: conic-gradient(#7AC74C 40%, #A33EA1 0 70%); */
    /* border-radius: 50%; */

    background: linear-gradient(135deg, #7AC74C 30%, #A33EA1 70%);
}

.fire.flying {
    background: linear-gradient(135deg, #EE8130 30%, #A890F0 70%);

}

.bug.flying {
    background: linear-gradient(135deg, #A6B91A 30%, #A890F0 70%);

}

.bug.poison {
    background: linear-gradient(135deg, #A6B91A 30%, #A33EA1 70%);

}

.normal.flying {
    background: linear-gradient(135deg, #A8A77A 30%, #A890F0 70%);

}

.poison.ground {
    background: linear-gradient(135deg, #A33EA1 30%, #E2BF65 70%);

}

.normal.fairy {
    background: linear-gradient(135deg, #A8A77A 30%, #D685AD 70%);

}

.poison.flying {
    background: linear-gradient(135deg, #A33EA1 30%, #A890F0 70%);

}

.bug.grass {
    background: linear-gradient(135deg, #A6B91A 30%, #7AC74C 70%);

}

.water.fighting {
    background: linear-gradient(135deg, #6390F0 30%, #C22E28 70%);
}

.rock.ground {
    background: linear-gradient(135deg, #B6A136 30%, #E2BF65 70%);
}

.water.psychic {
    background: linear-gradient(135deg, #6390F0 30%, #F95587 70%);
}

.electric.steel {
    background: linear-gradient(135deg, #F7D02C 30%, #B7B7CE 70%);
}

.water.ice {
    background: linear-gradient(135deg, #6390F0 30%, #96D9D6 70%);
}







.grass {
    background-color: #7AC74C;
    /* background-color: color(display-p3 0 1 0); */
    /* background: linear-gradient(135deg, #7AC74C 30%, #A33EA1 70%); */
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.bug {
    background-color: #A6B91A;
}

.normal {
    background-color: #A8A77A;
}

.poison {
    background-color: #A33EA1;
}

.electric {
    background-color: #F7D02C;
}

.ground {
    background-color: #E2BF65;
}

.fairy {
    background-color: #D685AD;
}

.flying {
    background-color: #A890F0;
}

.fighting {
    background-color: #C22E28;
}

.psychic {
    background-color: #F95587 ;
}

.rock {
    background-color: #B6A136 ;
}

.steel {
    background-color: #B7B7CE ;
}

.ice {
    background-color: #96D9D6 ;
}





.dialog {
    height: 300px;
    width: 300px;
}
