@font-face {
    font-family: "GeistPixel-Regular";
    src: url("./fonts/Geist_Pixel/GeistPixel-Regular-VariableFont_ELSH.ttf");
}


body {
    background-color: aqua;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    font-family: "GeistPixel-Regular";
}

.header-content {
    font-family: "GeistPixel-Regular";
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-text {
    font-size: clamp(1.8rem, 4vw, 2.8rem);
    font-weight: bold;
    /* color: rgb(233, 235, 231); */
    -webkit-text-stroke: 0.5px rgb(97, 137, 15);
}

.input {
    height: 20px;
    margin: 0;
    padding: 0;
}

.thumb-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.thumbnail-buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
    padding: 0;
    margin: 10px;
    cursor: pointer;
    height: 350px;
    width: 260px;


    animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;

}


.spinner-con {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.loading-spinner {
    position: absolute;
    top: 250px;
    height: 100px;
    width: 100px;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-img {
    width: 100px;
    height: 100px;
}





/* .thumbnail-buttons,
.thumbnail-buttons::before,
.thumbnail-buttons::after {
    box-sizing: border-box;
} */



/* .thumbnail-buttons:hover { */
/* width: 260px; */
/* height: 350px; */


/* border: 4px solid transparent; */

/* Paint an image in the border */
/* border-image: conic-gradient(from var(--angle), */
/* #f7f7f7 0deg 90deg, */
/* #d8d8d7 90deg 180deg, */
/* #377af5 180deg 270deg, */
/* #c0c2c0 270deg 360deg) 6 stretch; */
/* } */

/* @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes opacityChange {
    to {
        --opacity: 1;
    }
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
} */



.pokemon-name-con {
    display: flex;
    gap: 50px;
    padding-left: 10px;
    background-color: #27272891;
    color: white;
    text-shadow: 0 0 5px #e4e4d8;
}



.poke-img {
    position: absolute;
    top: 20px;
    left: 0px;


    --scale: 1;
    --transition-duration: 250ms;
    scale: var(--scale);
    transition: scale var(--transition-duration) ease-in-out;

    /* object-fit: contain; */

}

.poke-img:hover {
    --scale: 1.1;
    filter: drop-shadow(10px 10px 4px #272728);
}




.type-con {
    position: absolute;
    top: 300px;
    left: 0;
    background-color: #27272891;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50px;
}

.single-type,
.second-type {
    font-family: "GeistPixel-Regular";
    font-size: 17px;
    color: rgb(54, 53, 53);
    text-shadow: 0 0 5px #fbff1a;
    border-radius: 30px;
    padding: 5px;
}



.grass.poison {
    /* background-image: radial-gradient(circle 150px, #A33EA1, #7AC74C); */
    /* background-image: conic-gradient(#7AC74C 40%, #A33EA1 0 70%); */
    /* border-radius: 50%; */

    background: linear-gradient(135deg, #7AC74C 30%, #A33EA1 70%);
}

.fire.flying {
    background: linear-gradient(135deg, #EE8130 30%, #A890F0 70%);

}

.bug.flying {
    background: linear-gradient(135deg, #A6B91A 30%, #A890F0 70%);

}

.bug.poison {
    background: linear-gradient(135deg, #A6B91A 30%, #A33EA1 70%);

}

.normal.flying {
    background: linear-gradient(135deg, #A8A77A 30%, #A890F0 70%);

}

.poison.ground {
    background: linear-gradient(135deg, #A33EA1 30%, #E2BF65 70%);

}

.normal.fairy {
    background: linear-gradient(135deg, #A8A77A 30%, #D685AD 70%);

}

.poison.flying {
    background: linear-gradient(135deg, #A33EA1 30%, #A890F0 70%);

}

.bug.grass {
    background: linear-gradient(135deg, #A6B91A 30%, #7AC74C 70%);

}

.water.fighting {
    background: linear-gradient(135deg, #6390F0 30%, #C22E28 70%);
}

.rock.ground {
    background: linear-gradient(135deg, #B6A136 30%, #E2BF65 70%);
}

.water.psychic {
    background: linear-gradient(135deg, #6390F0 30%, #F95587 70%);
}

.electric.steel {
    background: linear-gradient(135deg, #F7D02C 30%, #B7B7CE 70%);
}

.water.ice {
    background: linear-gradient(135deg, #6390F0 30%, #96D9D6 70%);
}







.grass {
    background-color: #7AC74C;
    /* background-color: color(display-p3 0 1 0); */
    /* background: linear-gradient(135deg, #7AC74C 30%, #A33EA1 70%); */
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.bug {
    background-color: #A6B91A;
}

.normal {
    background-color: #A8A77A;
}

.poison {
    background-color: #A33EA1;
}

.electric {
    background-color: #F7D02C;
}

.ground {
    background-color: #E2BF65;
}

.fairy {
    background-color: #D685AD;
}

.flying {
    background-color: #A890F0;
}

.fighting {
    background-color: #C22E28;
}

.psychic {
    background-color: #F95587;
}

.rock {
    background-color: #B6A136;
}

.steel {
    background-color: #B7B7CE;
}

.ice {
    background-color: #96D9D6;
}



dialog {
    height: 520px;
    width: 300px;
    border-style: none;
    position: fixed;
    padding: 0;
    border-radius: 20px;
}

dialog::backdrop {
    opacity: 1;
    transition: all 0.5s ease-in;
    background-color: rgba(173, 173, 173, 0.616);
    backdrop-filter: blur(8px);
}



.dialog-header {
    display: flex;
    padding-top: 0px;
    padding-left: 20px;
    /* background-color: #27272891; */
    background: blue;
    color: white;
    text-shadow: 0 0 5px #e4e4d8;
    gap: 40px;
}


.close-dialog-x {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #C22E28;
    border: none;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}

.dialog-poke-img-con {
    position: absolute;
    top: 71px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.dialog-poke-img {
    height: 200px;
    width: auto;
    object-fit: contain;
    padding-bottom: 50px;
}

.dialog-type-con {
    display: flex;
    justify-content: center;
    position: relative;
    top: 145px;
    left: 0px;
    width: auto;


}

.dialog-single-type,
.dialog-second-type {
    border: 1px solid #fcfcfd;
    font-family: "GeistPixel-Regular";
    font-size: 17px;
    color: rgb(54, 53, 53);
    text-shadow: 0 0 5px #fbff1a;
    border-radius: 30px;
    padding: 5px;
}



.nav-con {
    position: relative;
    top: 132px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3636ea;
    height: 50px;
    font-size: 18px;


}

.dialog-info-con {
    position: relative;
    top: 132px;
    padding: 10px;
    background-color: #43de57;
    height: 179px;
    display: flex;
    flex-direction: column;

}


.stats-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

}

.status {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 55%;
    height: 20px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 20px;
}

.status-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fd0606;
    height: 20px;
    border-radius: 20px;
}

.height-and-weight {
    display: flex;
    flex-direction: column;

}

.height,
.weight {
    margin: 5px 0px;
}


.all-abilities {
    display: flex;
}

.ability-header {
    position: relative;
    top: 0px;
    padding-left: 10px;
    display: flex;
}

.abilities-con {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    padding-left: 10px;
    height: 30px;
    gap: 5px;
}